<app-org-nav></app-org-nav>
 
<div class="cover" style="margin-top: 75px;">
    <div class="wrap">
        <div class="fo">
            <div class="f-header text-center">
                <h2>Refund will be provided within 5 working days</h2>
            </div>
        <div class="f-body">
            <fieldset>
                <div *ngIf="statusID==3 || statusID==5">
                    <table class="table table-striped table-bordered text-center" >
                        <thead style="background-color: darkgrey;">
                        <tr>
                            <th>Charges</th>
                            <th>Total Amount Paid</th>
                            <th>Total Amount To Be Refunded</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{charges}}</td>
                            <td>{{amountPaid}}</td>
                            <td>{{amountToPayBack}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
 
                <div *ngIf="statusID==4 || statusID==6">
                    <table class="table table-striped table-bordered text-center" >
                        <thead style="background-color: darkgrey;">
                        <tr>
                            <th>Charges</th>
                            <th>Total Amount Paid</th>
                            <th>Total Amount To Be Refunded</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{charges}}</td>
                            <td>{{amountPaid}}</td>
                            <td>{{amountToPayBack}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
 
                <div *ngIf="statusID>6 || statusID==1 || statusID==2">
                    <table class="table table-striped table-bordered text-center" >
                        <thead style="background-color: darkgrey;">
                        <tr>
                            <th>Charges</th>
                            <th>Total Amount Paid</th>
                            <th>Total Amount To Be Refunded</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{charges}}</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div class="f-footer">
            <button (click)="CancelBooking()" class="btn btn-danger">Cancel Booking</button>
            &nbsp; 
                <button class="btn btn-primary" routerLink="/viewBookings" >Back</button>
        </div>
    </div>
    </div>
</div>