<div class="cover">
    <div class="wrap">
<form [formGroup]="forgotForm">
    <div class="form-header">
        <h2>Forgot Password</h2>
    </div>
    <div class="form-body">
        <fieldset>
 
        <input formControlName="email" name="email" type="email" placeholder="Email">
        <div *ngIf="forgotForm.get('email').touched && forgotForm.get('email').invalid" class="text text-danger">
            <div *ngIf="forgotForm.get('email').errors.required">
            <small>*Email is required.</small>
            </div>
            <div *ngIf="forgotForm.get('email').errors.email">
                <small> *Please enter a correct email.</small>
            </div>
        </div>
        </fieldset>
       
    </div>
    <div class="form-footer">
        <button (click)="onReset()" type="submit" [disabled]="forgotForm.invalid" class="btn btn-success">Verify Email</button>
    </div>
</form>
</div>
</div>