<div style="margin-top: 50px;">
 
    <img src="https://images.squarespace-cdn.com/content/v1/5e979903a7ba545af4c2b7e3/1600361940126-USPBHTFVEORKQABPPDL4/404.gif" style="margin-left: 50px;" alt="">
     
    <div style="display: inline-block; margin-left: 100px; color: whitesmoke;">
        <h1>Whoops, page not found</h1>
        <br>
        <p>We can't seem to find the page you're looking for</p>
        <br>
        <button class="btn btn-success" (click)="toLogin()" >Login</button> &nbsp; <button class="btn btn-primary" (click)="toSignup()" >Sign Up</button>
    </div>
    </div>