<!-- 
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      
      
      <a routerLink="/dashboard" style="text-decoration: none;" ><h5 class="navbar-brand">Admin Dashboard</h5></a>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a routerLink="/AddEvent" class="nav-link" >Add Event</a>
          <a routerLink="/EventGet" class="nav-link" >All Events</a>
        </div>
      </div>

      <div>
        <h4 style="display: inline-block;">Hello, {{Uname}}</h4>
        <span> &nbsp; </span><span> &nbsp; </span><span> &nbsp; </span>
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>


 -->

<app-admin-nav></app-admin-nav>

<img class="bgImg" src="https://w0.peakpx.com/wallpaper/508/619/HD-wallpaper-party-lights-circles-colorful-bokeh-background-black-light-party.jpg" alt="">

<!-- <img src="https://www.freepnglogos.com/uploads/welcome-png/welcome-michigan-barn-weddings-crooked-river-weddings-barn-2.png" style="width: 1000px;" alt=""> -->