<div class="cover">
    <div class="wrap">
<form [formGroup]="resetForm">
    <div class="form-header">
        <h2>Reset Password</h2>
    </div>
    <div class="form-body">
        <fieldset>
            <div style="display: none;">
                <input formControlName="email" name="email" type="email" placeholder="Email">
                    <div *ngIf="resetForm.get('email').touched && resetForm.get('email').invalid" class="text text-danger">
                        <div *ngIf="resetForm.get('email').errors.required">
                            *Email is required.
                        </div>
                        <div *ngIf="resetForm.get('email').errors.email">
                            *Please enter a correct email.
                        </div>
                     </div>
                </div>
   
            <div>
                <label for="">Set New Password</label>
       
                <input formControlName="password" type="password">
                    <div *ngIf="resetForm.get('password').touched && resetForm.get('password').invalid" class="text text-danger">
                        <div *ngIf="resetForm.get('password').errors.required">
                            *Password is required.
                        </div>
                        <div *ngIf="resetForm.get('password').errors.pattern">
                            *Password should include atleast an uppercase character, a lowercase character, a number and a special character
                        </div>
                    </div>
                </div>
   
        <div>
            <label for="">Confirm New Password</label>
       
        <input formControlName="cpassword" type="password">
        <div *ngIf="resetForm.hasError('mismatch')" class="text text-danger" >
            *Passwords do not match
        </div>
        </div>
    </fieldset>
    </div>
    <div class="form-footer">
        <button (click)="onReset()" type="submit" [disabled]="resetForm.invalid" class="btn btn-primary">Reset Password</button>
    </div>
</form>
</div>
</div>