<app-org-nav></app-org-nav>
 
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let i of eventData">  
            <div class="card h-100 custom-card">
                <div class="card-body">  
                    <h5 class="card-title text-center">{{i.eventType}}</h5>
                    <table class="table">
                        <tr>
                            <th>Description: </th>
                            <td>{{i.description}}</td>
                        </tr>
                        <tr>
                            <th>Package:</th>
                            <td>{{i.package}}</td>
                        </tr>
                        <tr>
                            <th>Participant Count: </th>
                            <td>{{i.participantCount}}</td>
                        </tr>
                        <tr>
                            <th>Charges</th>
                            <td>{{i.charges}}</td>
                        </tr>    
                    </table>
                </div>
                <div class="card-footer text-center" >
                    <button class="btn btn-primary " routerLink="/addBooking">Book Now</button>
                </div>
            </div>
        </div>
    </div>
</div>